.global-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    /* grid-template-areas: "tuile tuile tuile"; */
    grid-gap: 1rem;
    margin: 2rem;
    /* padding: 2rem; */
}

.global-grid .Histoire {

    text-decoration: none;
    color: #000;
    transition: all 0.5s ease-in-out;
    border-radius: 2rem;
    overflow: hidden;
    margin: 2rem;
    padding: 2rem;
    width: fit-content;
    height: fit-content;
    background-color: #ffff;
    filter: grayscale(100%);
    opacity: 0.5;
    resize: both;
    border: #000 solid 3px;

}


.global-grid .Histoire:hover {
    transform: scale(1.1);
    text-decoration: none;
    color: #000;
    transition: all 0.5s ease-in-out;
    border-radius: 2rem;
    overflow: hidden;
    margin: 2rem;
    padding: 2rem;
    width: 10vh;
    width: fit-content;
    opacity: 1;
    background-color: #ffff;
    filter: grayscale(0%);
    resize: both;

}




.global-grid .Histoire .Histoire-Info {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.2rem;
    padding: 1rem;
}

.global-grid .Histoire .Histoire-Info .desc p {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.global-grid .Histoire:hover .Histoire-Info .desc p {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.global-grid .Histoire .Histoire-Info .titre-note {
    height: 6vh;
}

.global-grid .Histoire .Histoire-Info .titre-note .titre h3 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    border-radius: 1rem;
    padding: 0.5rem;
    width: fit-content;
    color: #5DB59B;

}

.global-grid .Histoire .Histoire-Info .Histoire-genre p {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    border: #5DB59B solid 3px;
    border-radius: 1rem;
    padding: 0.5rem;
    width: fit-content;
    background-color: #ffff;
    filter: grayscale(0%);
    color: #5DB59B;

}

.global-grid .Histoire a img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    border-radius: 2rem;
    aspect-ratio: 1/1;
    resize: both;
    border: #000 solid 3px;
}