.User-Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
}

.User-Info .User-Info-Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
}

.User-Info .User-Info-Text h1 {
    font-size: 5rem;
    font-weight: 600;
    text-transform: capitalize;
    opacity: 1;
    width: 60vh;
    transition: all 0.5s ease-in-out;
    color: black;
    margin: auto;
    padding: 2rem;
    text-align: center;
}

.profil-global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.profil-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12rem;
    padding: 1rem;
    overflow: hidden;
    justify-content: center;
}

.profil-grid .profil-fav {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* width: 100vw; */
    margin: 0 auto;
}

.profil .user-histoire {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* width: 100vw; */
    margin: 0 auto;
}

.profil-grid .profil-fav .fav-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    overflow: hidden;
    margin: 2rem auto;
    padding: 2rem;
    position: relative;
    z-index: 1;
    /* background-color: #5DB59B; */
}

.profil .user-histoire-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    overflow: hidden;
    margin: 2rem auto;
    padding: 2rem;
    position: relative;
    z-index: 1;
    /* background-color: #5DB59B; */
}

.profil-grid .profil-fav .fav-hist {
    object-fit: cover;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
    /* background-color: #5DB59B; */

}

.profil .user-histoire {
    object-fit: cover;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
    /* background-color: #5DB59B; */


}

.profil-h1 {
    width: 46vh;
    font-size: 1rem;
    text-align: center;
    border-bottom: 2px solid black;
}

.profil-grid .profil-fav .fav-hist .fav-img img {
    width: 75%;
    /* background-color: #5DB59B; */
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
    opacity: 0.5;
    border-radius: 2rem;
}

.profil .user-histoire .user-histoire-img img {
    width: 75%;
    /* background-color: #5DB59B; */
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
    opacity: 0.5;
    border-radius: 2rem;
}

.profil-grid .profil-fav .fav-hist:hover .fav-img img {
    filter: grayscale(0%);
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.profil .user-histoire:hover .user-histoire-img img {
    filter: grayscale(0%);
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.profil-grid .profil-fav .fav-hist .fav-titre {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: #5DB59B; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.profil .user-histoire .user-histoire-titre {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: #5DB59B; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.profil-grid .profil-fav .fav-hist .fav-titre h1 {
    font-size: 5rem;
    font-weight: 600;
    text-transform: capitalize;
    opacity: 1;
    /* width: 60vh; */
    transition: all 0.5s ease-in-out;
    color: black;
    margin: auto;
    padding: 2rem;
    text-align: center;
}

.profil .user-histoire .user-histoire-titre h1 {
    font-size: 5rem;
    font-weight: 600;
    text-transform: capitalize;
    opacity: 1;
    /* width: 60vh; */
    transition: all 0.5s ease-in-out;
    color: black;
    margin: auto;
    padding: 2rem;
    text-align: center;
}


.profil-grid .profil-fav .fav-hist .fav-titre h1 a {
    font-size: 4rem;
    font-weight: 600;
    text-transform: capitalize;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    color: black;
    margin: auto;
    padding: 2rem;
    text-decoration: none;
    border-radius: 2rem;
    width: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil .user-histoire .user-histoire-titre h1 a {
    font-size: 4rem;
    font-weight: 600;
    text-transform: capitalize;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    color: black;
    text-decoration: none;
    border-radius: 2rem;
    width: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}